<nav>
  <a class="nav-logo" href="/">🌿 포피스</a>
  <ul class="nav-links">
    <li><a href="/">홈</a></li>
    <li>
      <a href="/about/">소개</a>
    </li>
    <li>
      <a href="#">활동</a>
      <ul class="dropdown">
        <li><a href="/activities/education/">평화교육사업</a></li>
        <li><a href="/activities/culture/">평화문화사업</a></li>
        <li><a href="/activities/youth/">어린이·청소년 사업</a></li>
        <li><a href="/activities/exchange/">교류 사업</a></li>
      </ul>
    </li>
    <li>
      <a href="#">알림</a>
      <ul class="dropdown">
        <li><a href="/notice/">공지사항</a></li>
        <li><a href="/newsletter/">뉴스레터</a></li>
        <li><a href="/resources/">자료실</a></li>
        <li><a href="/gallery/">사진첩</a></li>
        <li><a href="/financial/">재정보고(결산공시)</a></li>
        <li><a href="/donation/">기부금 모금 내역 및 실적</a></li>
      </ul>
    </li>
    <li><a href="/location/">오시는 길</a></li>
  </ul>
  <a class="btn-donate" href="/#donate">후원하기</a>
</nav>